@use '../../styles/variables' as *;

.container {
    button, .space {
        background-color: $button-dark;
        color: $button-dark;
        width: 25px;
        height: 25px;
        // border: none;
    }

    button:hover {
        cursor: pointer;
    }

    button:active {
        background-color: rgb(31, 31, 31);
        color: rgb(31, 31, 31);
    }

    div {
        display: flex;
    }
}

.u {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.d {
    border-radius: 0 0 5px 5px;
    border-top: none;
}

.r {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.l {
    border-radius: 5px 0 0 5px;
    border-right: none;
}