.container {
    button, .space {
        background-color: black;
        width: 25px;
        height: 25px;
        border: none;
    }

    div {
        display: flex;
    }
}

.u {border-radius: 5px 5px 0 0;}
.d {border-radius: 0 0 5px 5px;}
.r {border-radius: 0 5px 5px 0;}
.l {border-radius: 5px 0 0 5px;}