@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

img {
    width: 390px;
}

.screen {
    position: absolute;
    margin-right: 32px;
    top: 230px;
    width: 240px;
    height: 280px;
    border-radius: 20px;
    background-color: $screen2;
    color: $screen4;
}