@use '../../styles/variables' as *;

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    
    button {
        border-radius: 5px;
        padding: 0px 5px;
        background-color: $button-grey;
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    button:hover {
        cursor: pointer;
    }
}