// Variables
@use '../../styles/variables' as *;

.container {
    margin: 20px;

    img {
        width: 75px;
        height: 75px;
        mix-blend-mode: multiply;
        transform: scaleX(-1);
    }
}

.upperBanner {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    // padding: 0 20px;
}

.line {
    height: 2px;
    background-color: $screen4;
    margin: 20px 0;
}