// Variables
@use '../../styles/variables' as *;

.container {
    margin: 0 20px;

    img {
        width: 60px;
        height: 60px;
        mix-blend-mode: multiply;
        transform: scaleX(-1);
    }
}

.upperBanner {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    // padding: 0 20px;
    margin-top: 20px;
}

.line {
    height: 2px;
    background-color: $screen4;
    margin: 20px 0;
}

.headlineInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imageBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 2px;
}

.pressMe {
    position: absolute;
    display: flex;
    justify-content: end;
    bottom: 0;
    right: 0;
    // text-align: right;
    animation: blinker 1.5s linear infinite;
    margin-bottom: 10px;
    margin-right: 20px;
}


.flippedPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden {
    display: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}