.container {
    img {
        width: 390px;
    }

    // table {
    //     position: absolute;
    //     top: 265px;
    //     width: 240px;
    //     height: 280px;
    //     margin-right: 32px;
    // }
}

.screen {
    position: absolute;
    top: 265px;
    width: 240px;
    height: 280px;
    margin-right: 32px;
    border-radius: 20px;
    background-color: green;
}