.container {
    img {
        width: 390px;
    }

    // table {
    //     position: absolute;
    //     top: 265px;
    //     width: 240px;
    //     height: 280px;
    //     margin-right: 32px;
    // }
}

.screen, .controls {
    position: absolute;
    margin-right: 32px;

}

.screen {
    top: 230px;
    width: 240px;
    height: 280px;
    border-radius: 20px;
    background-color: green;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 590px;
    width: 230px;
}