.container {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
        border-radius: 50px;
        width: 45px;
        height: 45px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }

    button:hover {
        cursor: pointer;
    }
}

.a {
    background-color: rgb(25, 168, 25);
    color: darkgreen;
    margin-bottom: 10px;
}

.a:active {
    background-color: darkgreen;
    color: rgb(1, 58, 1);
}

.b {
    background-color: rgb(75, 75, 232);
    color: darkblue;
    margin-top: 10px;
}

.b:active {
    background-color: rgb(0, 0, 166);
    color: black;
}