// Variables
@use '../../styles/variables' as *;

.pkmLi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    // padding-left: 20px;
    // padding-right: 20px;
    padding: 0 10px;
}

.container {
    padding-top: 10px;
}

.current {
    color: $screen2;
    background-color: $screen3;
}
