// Variables
@use '../../styles/variables' as *;

.container {
    width: 100%;
    border-collapse: collapse;
    color: $screen4;

    th, td { 
        width: 50%;
        padding: 2px;
    }

    th {
        border-bottom: 1px solid $screen4;
        color: $screen3;
        padding-top: 6px;
    }

    td:nth-child(odd) {
        border-right: 1px solid $screen4;    
    }
    
    // tr:nth-child(even) {
    //     background-color: rgb(237, 237, 237);
    // }
}

.current {
    color: $screen2;
    background-color: $screen3;
}