// Variables
@use '../../styles/variables' as *;

.container {
    width: 100%;
    border-collapse: collapse;

    th, td { 
        // width: 50%;
        padding: 2px;
    }

    th {
        border-bottom: 2px solid $screen4;
        color: $screen4;
        padding-top: 6px;
    }

    td:nth-child(odd) {
        border-right: 2px solid $screen4;
        width: 40%;
    }
}

.current {
    color: $screen2;
    background-color: $screen3;
}